{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h1><i class="fa-regular fa-address-card" style="color: #bfeff1;"></i>О компании</h1>
       </header>
 <div class="text">
        <h2>О компании </h2>
        <p>Компания фотографа может быть организацией или бизнесом, который специализируется на предоставлении фотографических услуг.<br> Это может включать в себя различные виды фотосъемок,<br> такие как свадьбы, портреты, семейные съемки, корпоративные мероприятия, модельные тесты, коммерческая фотография и многое другое.</p>

          <p> Компания фотографа может предлагать широкий спектр услуг, включая фотосъемку, редактирование фотографий, создание альбомов,<br> печать фотографий, цифровую обработку изображений и даже предоставление услуг по дизайну и монтажу.</p>
            
          <p> Владельцы компаний фотографов могут работать как самостоятельные предприниматели или иметь команду фотографов, <br>редакторов и ассистентов. Они также могут иметь свои собственные студии или работать на удаленной основе, в зависимости от специфики их бизнеса.</p>
            
          <p>  Компании фотографов могут использовать различные стратегии маркетинга, включая социальные сети,<br> веб-сайты, участие в выставках и мероприятиях, рекламу и другие методы для привлечения клиентов.</p>
            
          <p>   Независимо от специализации, компания фотографа должна стремиться к<br> высокому качеству услуг и удовлетворению клиентов, чтобы добиться успеха в этой конкурентной отрасли.</p>
{% endblock %}